.img-circle {
  border-radius: 50%;
  width: 200px;
}

.img-belle {
  border-radius: 20px;
  width: 320px;
}

.btn-red {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #2E338B;
  padding: 12px 20px;
  border-radius: 5px;
  display: inline-block;
}
body {
  font-family: 'Merienda One',sans-serif;
  background-color: #ECECEC;
  align-items: center;
  text-align: center;
}

h1 {
color: #26191B ;
font-size :  ;
font-family:'Berkshire Swash' ;
line-height: ;
}

h2 {
color: #07004D ;
font-size :  ;
font-family:'Berkshire Swash' ;
line-height: ;
}

h3 {
color: #CA5216 ;
font-size : '' ;
font-family: 'Berkshire Swash';
line-height: ;
}

.a {
color: white ;
text-decoration: none; ;
}

a:hover {
color: #36D0BA ;
}

.card{
background-color: white;
padding: 10px;
align-content: center;
margin: 40px 40px 40px 40px;
border: 1px solid lightgrey;
box-shadow: 2px 2px 3px rgba(150,150,150,0.3);
}

.list-inline li {
  display: inline-block;
  font-size: 30px;
}

.container {
  width: 800px;
  margin: 0 auto;
}


/*font-family: 'Berkshire Swash', cursive;
font-family: 'Merienda One', cursive;*/
